
#junk files from matlab and unnecessary file types
make_data_table.asv
group_level.asv
*~
*.asv
*.jpg
*.fig
*.eps
*.log
.DS_Store
modeling/.DS_Store

#data folders and files
pilotdata/*
data/*
public_data/*
simdata/*
example_data/*
obsolete/*
modeling/HBI/model-details/*.mat
modeling/HBI/low-level-fits/*.mat
modeling/HBI/plosCB_fits/*.mat
modeling/HBI/obsolete_fits/*
modeling/HBI/*.log
modeling/HBI/*.mat
modeling/HBI/HPC_functions/*
modeling/HBI/quick_delta_tests_strictfitting/*
modeling/HBI/quick_delta_tests_notstrictfitting/*
mturk_hit_bookkeeping.xlsx
~$mturk_hit_bookkeeping.xlsx
free_response_log.txt
make_data_table_pilot.m
cost/old_index.html
import_subj4_txt.m
import_subj5_txt.m
import_subj6_txt.m


#files too big for git
joint_cost_distributions.mat
modeling/HBI/joint_cost_distributions.mat
modeling/HBI/*.mat

#passwords
cost/php/db_config.php
cost/php/db_config_trial.php

#this weird thing
desktop.ini
