
#junk files from matlab and unnecessary file types
make_data_table.asv
group_level.asv
*~
*.asv
*.jpg
*.fig
*.eps
*.mat
*.log

#data folders and files
pilotdata/*
data/*
simdata/*
obsolete/*
mturk_hit_bookkeeping.xlsx
~$mturk_hit_bookkeeping.xlsx
free_response_log.txt
make_data_table_pilot.m
cost/old_index.html
import_subj4_txt.m
import_subj5_txt.m
import_subj6_txt.m

#files too big for git
joint_cost_distributions.mat
HBI/joint_cost_distributions.mat
HBI/*.mat

#passwords
cost/php/db_config.php
cost/php/db_config_trial.php

#this weird thing
desktop.ini
